<!--<body id="page-ideas"> -->
    {% extends 'layout.html' %}
    
    
    {% set bodyId = "page-ideas" %}

    {% block content %}   
    <header>
        <a href="/"><img src="/logoIdeas.svg" alt="Imagem da logo marca"></a>
        
        <nav>
            <li><a href="/">Inicio</a></li>
            <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
    </header>

    <section id="title">
        <p>Em Exibição</p>
        <h1>Ideias</h1>
    </section>
    <main>
        <section id="ideas">
            {% include 'all_Ideas.html' %}
        </section>
    </main>
    
    
    <footer id="footer">Com S2 DB - System</footer>

    {% endblock %}   

