{% extends 'layout.html' %}
        
{% block content %}

        <section id="intro">
            <header>
                <a href="/"><img src="/logoIdeas.svg" alt=""></a></header>

            <main>    
                <p>
                Uma <strong>pandemia ocorre quando uma doença espalha-se por uma grande quantidade de regiões no globo </strong>, 
                ou seja, ela não está restrita apenas a uma localidade, estando presente em uma grande área geográfica.
                </p>
                <p>
                Por isso iremos catalogar Ideias para brincadeiras, jogos, filmes, 
                livros e cursos, tornando esse momento mais interessante
                </p>
                <p>
                Comece clicando em ver ideias para ver as ideias cadastradas
                </p></main>

            <section id="buttons">
        
                <button onclick="onOff()">+ Adicionar Ideia</button>
               <a class="fat" href="/ideas">Ver Ideias</a>

            </section>

            <footer id="footer">Com S2 DB - System</footer>
                   
        </section>
    
        <section id="last-ideas">
                    {% include 'all_Ideas.html' %}
        </section>

{% endblock %}
    